@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

@layer base {
  body {
    @apply font-body bg-gray-800 scrollbar-hide;
  }
}

@layer components {
  .sidebarIcon {
    @apply h-6 text-[#707070] cursor-pointer hover:text-white;
  }

  .sidebarTooltip {
    @apply absolute w-auto p-2 mx-[20px] my-[-25px] min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 text-xs font-bold transition-all duration-100
    origin-left scale-0;
  }

  .tag {
    @apply py-1.5 px-3 text-[#CECECE] bg-[#282828] rounded-xl text-xs font-bold border-2 border-[#484848];
  }

  .genre {
    @apply bg-[#101010] text-[#CECECE] border border-[#484848] rounded-xl py-2.5 px-3.5 text-[11px] font-bold cursor-default;
  }

  .icon {
    @apply hover:scale-125 transition-all duration-150 ease-out;
  }

  .croppedIcon {
    clip-path: inset(0 50% 0 0);
  }

  .playerIcon {
    @apply transition ease-out transform hover:scale-105 hover:text-white;
  }

  .login-with-google-btn {
	  transition: background-color 0.3s, box-shadow 0.3s;
	  padding: 12px 16px 12px 42px;
	  border: none;
	  border-radius: 3px;
	  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
	  color: #757575;
	  font-size: 14px;
	  font-weight: 500;
	  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
	  background-color: white;
	  background-repeat: no-repeat;
	  background-position: 12px 11px;
  }

  .login-with-google-btn:hover {
	  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  .login-with-google-btn:active {
	  background-color: #eee;
  }

  .login-with-google-btn:focus {
	  outline: none;
	  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
  }

  .login-with-google-btn:disabled {
	  filter: grayscale(100%);
	  background-color: #ebebeb;
	  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
	  cursor: not-allowed;
  }

  .heading_style { 
    font-size: 32px; 
    margin-bottom: 50px;
    position: relative; 
    /* font-family: monospace; */
    font-weight: bold;
  }

  .heading_style:before,
  .heading_style:after {
	  content: '[';
	  display: inline-block;
	  position: relative;
	  top: 1px;
	  height: 100%;
	  font-size: 1.25em;
	  color: tomato;
	
	  transition: all 0.5s ease;
  }

  .heading_style:after { content: ']'; }

  .heading_style:hover:before { 
	  transform: translateX(-5px);
  }

  .heading_style:hover:after { 
	  transform: translateX(5px);
  }

  .card-list {
      display: flex;
      padding: 3rem;
  }

  .card {
      @apply bg-gray-900;
      height: 350px;
      width: 400px;
      min-width: 250px;
      padding: 1.5rem;
      border-radius: 16px;
      box-shadow: -0.66rem 0 2rem #0c0c0e;
      display: flex;
      flex-direction: column;
      transition: .2s;
      margin: 0;
      scroll-snap-align: start;
      clear: both;
      position: relative;
      cursor: pointer;
  }

  .card:focus-within~.card, .card:hover~.card {
      transform: translateX(80px);
  }

  .card:hover {
      transform: translateY(-1rem);
  }

  .card:not(:first-child) {
      margin-left: -80px;
  }


  .card-header {
      margin-bottom: auto;
  }

  .card-header p {
      font-size: 14px;
      /* margin: 0 0 1rem; */
      color: #a0a0ac;
  }

  .card-header h2 {
      font-size: 20px;
      /* margin: .25rem 0 auto; */
      text-decoration: none;
      color: inherit;
      border: 0;
      display: inline-block;
      cursor: pointer;
  }

  .card-header h2:hover {
      background: linear-gradient(90deg,#ff8a00,#e52e71);
      text-shadow: none;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
  }

  .loader {
    --background: linear-gradient(135deg, #23C4F8, #275EFE);
    --shadow: rgba(39, 94, 254, 0.28);
    --text: #6C7486;
    --page: rgba(255, 255, 255, 0.36);
    --page-fold: rgba(255, 255, 255, 0.52);
    --duration: 3s;
    width: 200px;
    height: 140px;
    position: relative;
  }
  .loader:before, .loader:after {
    --r: -6deg;
    content: '';
    position: absolute;
    bottom: 8px;
    width: 120px;
    top: 80%;
    box-shadow: 0 16px 12px var(--shadow);
    -webkit-transform: rotate(var(--r));
            transform: rotate(var(--r));
  }
  .loader:before {
    left: 4px;
  }
  .loader:after {
    --r: 6deg;
    right: 4px;
  }
  .loader div {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    position: relative;
    z-index: 1;
    -webkit-perspective: 600px;
            perspective: 600px;
    box-shadow: 0 4px 6px var(--shadow);
    background-image: var(--background);
  }
  .loader div ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
  }
  .loader div ul li {
    --r: 180deg;
    --o: 0;
    --c: var(--page);
    position: absolute;
    top: 10px;
    left: 10px;
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    color: var(--c);
    opacity: var(--o);
    -webkit-transform: rotateY(var(--r));
            transform: rotateY(var(--r));
    -webkit-animation: var(--duration) ease infinite;
            animation: var(--duration) ease infinite;
  }
  .loader div ul li:nth-child(2) {
    --c: var(--page-fold);
    -webkit-animation-name: page-2;
            animation-name: page-2;
  }
  .loader div ul li:nth-child(3) {
    --c: var(--page-fold);
    -webkit-animation-name: page-3;
            animation-name: page-3;
  }
  .loader div ul li:nth-child(4) {
    --c: var(--page-fold);
    -webkit-animation-name: page-4;
            animation-name: page-4;
  }
  .loader div ul li:nth-child(5) {
    --c: var(--page-fold);
    -webkit-animation-name: page-5;
            animation-name: page-5;
  }
  .loader div ul li svg {
    width: 90px;
    height: 120px;
    display: block;
  }
  .loader div ul li:first-child {
    --r: 0deg;
    --o: 1;
  }
  .loader div ul li:last-child {
    --o: 1;
  }
  .loader span {
    display: block;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 20px;
    text-align: center;
    color: var(--text);
  }


  .loader span:after  {
    position: absolute;
    content: "";
    -webkit-animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
    animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
  }

  /* Dots */

  @-webkit-keyframes Dots {
    0% {
      content: "";
    }
    33% {
      content: ".";
    }
    66% {
      content: "..";
    }
    100% {
      content: "...";
    }
  }

  @keyframes Dots {
    0% {
      content: "";
    }
    33% {
      content: ".";
    }
    66% {
      content: "..";
    }
    100% {
      content: "...";
    }
  }


  @-webkit-keyframes page-2 {
    0% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    35%,
          100% {
      opacity: 0;
    }
    50%,
          100% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }

  @keyframes page-2 {
    0% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    35%,
          100% {
      opacity: 0;
    }
    50%,
          100% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @-webkit-keyframes page-3 {
    15% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      opacity: 0;
    }
    35% {
      opacity: 1;
    }
    50%,
          100% {
      opacity: 0;
    }
    65%,
          100% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @keyframes page-3 {
    15% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      opacity: 0;
    }
    35% {
      opacity: 1;
    }
    50%,
          100% {
      opacity: 0;
    }
    65%,
          100% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @-webkit-keyframes page-4 {
    30% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    65%,
          100% {
      opacity: 0;
    }
    80%,
          100% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @keyframes page-4 {
    30% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    65%,
          100% {
      opacity: 0;
    }
    80%,
          100% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @-webkit-keyframes page-5 {
    45% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      opacity: 0;
    }
    65% {
      opacity: 1;
    }
    80%,
          100% {
      opacity: 0;
    }
    95%,
          100% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @keyframes page-5 {
    45% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      opacity: 0;
    }
    65% {
      opacity: 1;
    }
    80%,
          100% {
      opacity: 0;
    }
    95%,
          100% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }

  .empty-body {
    @apply bg-gray-800;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .content {
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content .planet {
    width: 65%;
    height: 65%;
    background-color: #546c8c;
    border-radius: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    transform-origin: center center;
    box-shadow: inset 2px -10px 0px rgba(0, 0, 0, 0.1);
    animation: planet 5s ease infinite alternate;
    /* planet ring */
    /* to cover the back of the ring */
    /* planet spots */
  }
  @keyframes planet {
    0% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }
  .content .planet .ring {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #bacbd9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: 33% center;
    box-shadow: 2px -10px 0px rgba(0, 0, 0, 0.1), inset -5px -10px 0px rgba(0, 0, 0, 0.1);
    animation: ring 3s ease infinite;
    /* small ball */
    /* inner ring */
  }
  @keyframes ring {
    0% {
      transform: rotateX(110deg) rotateZ(0deg) translate(-50px, 5px);
    }
    100% {
      transform: rotateX(110deg) rotateZ(360deg) translate(-50px, 5px);
    }
  }
  .content .planet .ring:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 30px;
    border-radius: 100%;
    background-color: #7ea1bf;
    z-index: 2;
    left: calc(0px - 5px);
    box-shadow: inset -3px 3px 0px rgba(0, 0, 0, 0.2);
  }
  .content .planet .ring:after {
    content: "";
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 100%;
    background-color: #7ea1bf;
    box-shadow: inset 2px -10px 0px rgba(0, 0, 0, 0.1);
  }
  .content .planet .cover-ring {
    position: absolute;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    transform: translate(0px, -17px);
    background-color: #546c8c;
    z-index: 2;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.1);
  }
  .content .planet .spots {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
  }
  .content .planet .spots span {
    width: 30px;
    height: 30px;
    background-color: #3c4359;
    position: absolute;
    border-radius: 100%;
    box-shadow: inset -2px 3px 0px rgba(0, 0, 0, 0.3);
    animation: dots 5s ease infinite alternate;
  }
  @keyframes dots {
    0% {
      box-shadow: inset -3px 3px 0px rgba(0, 0, 0, 0.3);
    }
    100% {
      box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.3);
    }
  }
  .content .planet .spots span:nth-child(1) {
    top: 20px;
    right: 50px;
  }
  .content .planet .spots span:nth-child(2) {
    top: 40px;
    left: 50px;
    width: 15px;
    height: 15px;
  }
  .content .planet .spots span:nth-child(3) {
    top: 80px;
    left: 20px;
    width: 25px;
    height: 25px;
  }
  .content .planet .spots span:nth-child(4) {
    top: 80px;
    left: 90px;
    width: 40px;
    height: 40px;
  }
  .content .planet .spots span:nth-child(5) {
    top: 160px;
    left: 70px;
    width: 15px;
    height: 15px;
  }
  .content .planet .spots span:nth-child(6) {
    top: 165px;
    left: 125px;
    width: 10px;
    height: 10px;
  }
  .content .planet .spots span:nth-child(7) {
    top: 90px;
    left: 150px;
    width: 15px;
    height: 15px;
  }
  .content p {
    color: #bacbd9;
    font-size: 18px;
    z-index: 2;
    position: absolute;
    bottom: -20px;
    font-family: "Roboto Mono", monospace;
    animation: text 4s ease infinite;
    width: 300px;
    text-align: center;
  }
  @keyframes text {
    0% {
      transform: translateX(-30px);
      letter-spacing: 0px;
      color: #bacbd9;
    }
    25% {
      letter-spacing: 3px;
      color: #7ea1bf;
    }
    50% {
      transform: translateX(30px);
      letter-spacing: 0px;
      color: #bacbd9;
    }
    75% {
      letter-spacing: 3px;
      color: #7ea1bf;
    }
    100% {
      transform: translateX(-30px);
      letter-spacing: 0px;
      color: #bacbd9;
    }
  }

  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }

  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
  }

  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
  }

  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }

  /* demo */
  .form__body {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
  }
  
  .mn-button {
  display: inline-block;
  vertical-align: bottom;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  padding: 0.4rem;
  background-color: transparent;
  box-sizing: border-box;
  font-size: 1em;
  font-family: inherit;
  border-radius: 3px;
  margin: 0.1rem;
  transition: all 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 2.5em;
  padding: 0 0.8em;
  border: 0;
  color: inherit;
  position: relative;
  transform: translateZ(0);
}
.mn-button * {
  pointer-events: none;
}
.mn-button:hover:not(.raised), .mn-button:focus:not(.raised) {
  background-color: rgba(0, 0, 0, 0.2);
}
.mn-button:active:not(.raised) {
  background-color: rgba(0, 0, 0, 0.1);
}
.mn-button:disabled {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.mn-button {
  margin: 0.4em;
}
.mn-button.raised {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.mn-button.raised:hover, .mn-button.raised:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.mn-button.raised:active {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.26);
}
.mn-button.raised:disabled {
  box-shadow: none;
}

.mn-button.action {
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  line-height: 3.5em;
  position: relative;
  text-align: center;
}
.mn-button.action * {
  line-height: inherit;
}
.mn-button.action:not(:disabled):not(.raised):before {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: all 0.2s ease-out;
}
.mn-button.action:hover:not(.raised), .mn-button.action:focus:not(.raised) {
  background-color: transparent;
}
.mn-button.action:hover:not(.raised):before, .mn-button.action:focus:not(.raised):before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.mn-button.action:active:not(.raised):before {
  background-color: rgba(0, 0, 0, 0.1);
}
}
